{% extends 'app/base.html' %} 

{% block main %}

<img src="{{user.profile.imagen.url}}" height="100&" width="100" style="border-radius: 50%; margin: right 10px;"> 
<a href="{% url 'profile-update' user.profile.id %}"> {{user.username}}</a> | <a href="{% url 'logout' %}"> Exit</a> 

<ul>
    
    {% if post %} <h2>NO HAY POSTEOS</h2> {% endif %}
    
    {% for juego in object_list %}
    
    <li>
        {{juego.nombre}}:
        <a href="{% url 'juego-detail' juego.id %}">  Detalle</a>  | 
        
        {% if user.is_authenticated and juego.publisher == user%}
        <a href="{% url 'juego-update' juego.id %}">   Actualizar</a>  |     
        
        <a href="{% url 'juego-delete' juego.id %}">   Borrar</a>  |  
        {% endif %}
        
    </li>
        <br>
    {% endfor %}
</ul>

<br><br>
<a href="{% url 'juego-create' %}">Agregar un juego nuevo</a>

{% endblock %}